
<html>

  
    <body>
    
      <h1><%= albums.name %></h1>
      <li>Artist: <%= albums.artist %></li>
      <li>Label: <%= albums.label %></li>
      <li>Release Date: <%= albums.releaseDate %></li>
  
      
  
      <p><a href="/">Back to Home Page</a></p>
  
    </body>
  </html>