<html>

  
  <body>
  
    <h1><%= album.name %></h1>
    <li>Artist: <%= album.artist %></li>
    <li>Label: <%= album.label %></li>
    <li>Release Date: <%= album.releaseDate %></li>

    

    <p><a href="/">Back to Home Page</a></p>

  </body>
</html>