<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>React App Demo</title>

  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>

<h2>Home</h2>

<hr>
<h3>My Albums</h3>

<div id="root"></div>
<script type="text/babel">

const Albums = (props) => {
        // props is an array
        const listItems = props.data.map((item) =>
        <li key={item._id} id={item._id} onClick={props.clickHandler}>
            {item.title}
        </li>);
        return <ul>{listItems}</ul>
    }

    const ItemDetail = (props) => {
        return <div>
        <hr />
            <h3>Album Details</h3>
            <form>
                title: <input type="text" name="title" value={props.item.title || ""} onChange={props.handleChange} /><br/>
                artist: <input type="text" name="artist" value={props.item.artist || ""} onChange={props.handleChange}/><br/>
                label: <input type="text" name="label" value={props.item.label || ""} onChange={props.handleChange} /><br/>
                releaseDate: <input type="text" name="releaseDate" value={props.item.releaseDate || ""} onChange={props.handleChange} /><br/>
            </form>
            <button name="clear" onClick={props.clearForm}>Clear</button>&nbsp;
        </div>
    }


    const AlbumApp = (props) => {
        const [items, setItems] = React.useState(<%- items %>);
        const [currentItem, setCurrentItem] = React.useState({});

        // list click event handler
        const selectItem = (event) => {
            const found = items.find((item) => {
                return item.title === event.target.innerText;
            });
            setCurrentItem(found);
        }

        const clearForm = () => {
            setCurrentItem({});
        }

        // update list state
        const handleChange = (event) => {
          let newItem = { ...currentItem } ;
          newItem[event.target.title] = event.target.value;
          // update currentItem state
          setCurrentItem(newItem);
          // update list state
          items.find((item, index) => {
            if (item._id == newItem._id) {
                items[index] = newItem;
                setItems(items);
            }
          })
        }

        return (
            <div> <h2>Albums Inventory</h2>
                <Albums data={items} clickHandler={selectItem} />
                <ItemDetail
                  item={currentItem}
                  handleChange={handleChange}
                  clearForm={clearForm}
                />
            </div>
        );

    }

    const container = document.getElementById('root');
    const root = ReactDOM.createRoot(container);
    root.render( <AlbumApp />);
</script>
</body>
</html>
